name: PlatformIO CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:

          - name: "Client - MQTT (ESP32)"
            example: "examples/Device_Host/Generic_Client/MQTT/MQTT.ino"
            board: esp32dev
            lib_deps: "ArduinoMqttClient"


          - name: "Client - UDP NTP (ESP32)"
            example: "examples/Device_Host/Generic_Client/UDP_NTP/UDP_NTP.ino"
            board: esp32dev
            lib_deps: ""

          - name: "Client - WebSocket (ESP32)"
            example: "examples/Device_Host/Generic_Client/WebSocket/WebSocket.ino"
            board: esp32dev
            lib_deps: ""
          
          - name: "Host (ESP32)"
            example: "examples/Device_Host/Generic_Client/Host/Host.ino"
            board: esp32dev
            lib_deps: "Links2004/WebSockets"


    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install PlatformIO Core
        run: pip install -U platformio

      - name: Build Example
        env:
          PLATFORMIO_CI_SRC: ${{ matrix.example }}
        run: |
          if [ -n "${{ matrix.lib_deps }}" ]; then
            LIB_DEPS_ARG="--project-option=lib_deps=${{ matrix.lib_deps }}"
          else
            LIB_DEPS_ARG=""
          fi

          echo "Building ${{ matrix.example }} for ${{ matrix.board }}..."
          
          pio ci "$PLATFORMIO_CI_SRC" \
            --board=${{ matrix.board }} \
            --lib="." \
            $LIB_DEPS_ARG